<nav class="navbar">
  <div class="navbar-container">
    <div class="nav">
      <ul class="nav-links">
        <li>
          <a href="/"><i class="fa fa-home"></i> Home</a>
        </li>
        <% if (user) { %>
        <li>
          <a href="/user/<%= user._id %>/dashboard"
            ><i class="fa-solid fa-chart-line"></i></i> Dashboard</a
          >
        </li>
        <li>
          <a href="/Ads/<%= user._id %>/Ads"
            ><i class="fa-solid fa-download"></i> Ads</a
          >
        </li>
        <li>
          <a href="/user/signOut"
            ><i class="fa fa-sign-out-alt"></i> Sign Out</a
          >
        </li>
        <li>
          <a href="/user/aboutUs"><i class="fa fa-users"></i> About Us</a>
        </li>
        <% } else { %>
        <li>
          <a href="/user/signIn"><i class="fa fa-sign-in-alt"></i> Sign In</a>
        </li>
        <li>
          <a href="/user/signUp"><i class="fa fa-user-plus"></i> Sign Up</a>
        </li>
        <li>
          <a href="/user/aboutUs"><i class="fa fa-users"></i> About Us</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
